@charset "UTF-8";
html{
    background-image:url( "img/M.jpg");
}
body{
    width:1497px;
    background: no-repeat;
    background-size:cover ;
    background-image:url( "img/M.jpg");
}
.zone0{
    position: fixed;
    text-align: center;
    position: relative;
    right: 11%;
    left: 11%;
}
.zone{
    position: fixed;
    position: absolute;
    /* text-align: center; */
    background: no-repeat;
    background-size:cover ;
    background-image:url( "img/M.png");
    padding: 0;
    left: 8%;
    top: 10%;
    bottom: 10%;
}
.What_Choice{
    text-align: center;
    font-size: 17px;
    font-weight:700;
}
.which_turn{
    text-align: center;
    font-size: 20px;
    font-weight:700;
}
.Reset{
    font-weight:700;
    text-align: center;
    width: 120px;
    height: 90px;
}
.home{
    font-weight:700;
}
.stdisplay{
    text-align: center;
    font-weight:700;
}
.rule{
    font-size: 20px;
    font-weight:700;
}
